<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Playlist Confirmation</title>
</head>
<body>
    <div id="top">
        <span id="top_name">Playlist to playlist randomizer</span>
        <div id="top_links">
            <a id="home" href="/">Home</a>
            <span> | </span>
            <a id="logout" href="/logout">Logout</a>
        </div>
    </div>

    <div id="info_container1">
        <div id="info_container2">
            <div id="info_container3">
                <div id="content">
                    <p>Done generating songs!</p>
                    <br/>
                    <a id="confirm_playlist_change" href="/">Generate again</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>