<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Pick which playlist</title>
</head>
<body>
    <div id="top">
        <span id="top_name">Playlist to playlist randomizer</span>
        <div id="top_links">
            <a id="home" href="/">Home</a>
            <span> | </span>
            <a id="logout" href="/logout">Logout</a>
        </div>
    </div>

    <div id="info_container1">
        <div id="info_container2">
            <div id="info_container3">
                <div id="description">
                    Choose the playlist you want to replace, or type the name of a new playlist.
                </div>
                <div id="content">
                    <form method="post" action="/confirm_playlist_song">
                        <label id="playlist_name_label" for="new_playlist_name">Or type in new playlist name:</label>
                        <input type="text" id="new_playlist_name" name="new_playlist_name" required value="My 100 songs">
                        <button id="create_playlist_btn" type="submit">Create new playlist</button>
                    </form>

                    <br/>
                    <form method="post" action="/confirm_playlist_song">
                        <div class="playlist_list">
                            {% for playlist in playlists %}
                                <div class="playlist_container">
                                    {% if playlist['img'] == 'no_img' %}
                                        <p class="song_img_container"><img src="{{ url_for('static', filename='no_img.png') }}" alt="Playlist image"></p>
                                    {% else %}
                                        <p class="song_img_container"><img src="{{ playlist['img'] }}" alt="Playlist image"></p>
                                    {% endif %}
                                    <input type="radio" name="playlist_option" id="{{ playlist["id"] }}" value="{{ playlist["id"] }} || {{ playlist["name"] }} || {{ playlist["snapshot_id"] }}" required>
                                    <label class="playlist_name" for="{{ playlist["id"] }}">{{ playlist["name"] }}</label>
                                    <p class="playlist_total_tracks">{{ playlist["total_tracks"] }} tracks</p>
                                </div>
                            {% endfor %}
                        </div>
                        <button id="create_playlist_btn" type="submit">Choose this playlist to replace.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>