<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>100 picked songs</title>
</head>
<body>
    <div id="top">
        <span id="top_name">Playlist to playlist randomizer</span>
        <div id="top_links">
            <a id="home" href="/">Home</a>
            <span> | </span>
            <a id="logout" href="/logout">Logout</a>
        </div>
    </div>

    <div id="info_container1">
        <div id="info_container2">
            <div id="info_container3">
                <div id="description">
                    Here are the 100 random songs:
                </div>
                <div id="content">
                    <div id="songs_list">
                        {% for song in picked_songs %}
                            <div class="songs_container">
                                <p class="song_img_container"><img src="{{ song['img'] }}" alt="Song cover image"></p>
                                <p class="song_name">{{ song["name"] }}</p>
                                <p class="song_artists">{{ song["artists"] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post" action="/playlist_for_songs">
                        <button id="create_playlist_btn" type="submit">Use these songs.</button>
                    </form>
                    <form method="post" action="/playlist_picked">
                        <input type="hidden" name="playlist_option" value="{{ selected_playlist }}">
                        <button id="repick_songs" type="submit">Not satisfied? Re-pick songs.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>