<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ num_songs }} picked songs</title>
</head>
<body>
    <div id="top">
        <span id="top_name">Playlist to playlist randomizer</span>
        <div id="top_links">
            <a id="home" href="/">Home</a>
            <span> | </span>
            <a id="logout" href="/logout">Logout</a>
        </div>
    </div>

    <div id="info_container1">
        <div id="info_container2">
            <div id="info_container3">
                <div id="description">
                    Here are the {{ num_songs }} random songs:
                </div>
                <div id="content">
                    <div id="songs_list">
                        {% for song in picked_songs %}
                            <div class="songs_container">
                                {% if song['img'] == 'no_img' %}
                                    <p class="song_img_container"><img src="{{ url_for('static', filename='no_img.png') }}" alt="Song cover image"></p>
                                {% else %}
                                    <p class="song_img_container"><img src="{{ song['img'] }}" alt="Song cover image"></p>
                                {% endif %}
                                <p class="song_name">{{ song["name"] }}</p>
                                <p class="song_artists">{{ song["artists"] }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post" action="/playlist_for_songs">
                        <p>Choose a sort to be applied on the randomly selected songs:</p>
                        <div class="sorting_options">
                            <input type="radio" name="song_sorting" id="no_sorting" value="no_sort" required checked>
                            <label class="playlist_name" for="no_sorting">No sorting</label>
                        </div>
                        <div class="sorting_options">
                            <input type="radio" name="song_sorting" id="name_asc" value="song_name_asc" required>
                            <label class="playlist_name" for="name_asc">Song name ascending (A-Z)</label>
                        </div>
                        <div class="sorting_options">
                            <input type="radio" name="song_sorting" id="name_desc" value="song_name_desc" required>
                            <label class="playlist_name" for="name_desc">Song name descending (Z-A)</label>
                        </div>
                        <div class="sorting_options">
                            <input type="radio" name="song_sorting" id="random_sorting" value="random" required>
                            <label class="playlist_name" for="random_sorting">Randomised (shuffle)</label>
                        </div>
                        <button id="create_playlist_btn" type="submit">Use these songs.</button>
                    </form>
                    <form method="post" action="/playlist_picked">
                        <input type="hidden" name="playlist_option" value="{{ selected_playlist }}">
                        <button id="repick_songs" type="submit">Not satisfied? Re-pick songs.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>